.icon{
	padding-bottom: 10px;
}

#nav-info ul{
	color:rgb(96,190,174);
	list-style-type: none;
	min-width:48px;
	min-height:48px;
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
}

#titleA{
	color:black;
	background-color: white;
}

#titleB{
	color:white;
	background-color: black;
}

#nd-nav{
	background-color: rgb(239,248,247);
	color:rgb(96,190,174);
	border-color: rgb(217,239,236);
	text-align:center;
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
}

.option{
	padding:10px;
	/*與下方文章間隔10px*/
	margin-bottom:10px;
}

.option h3{
	font-size: 2rem;
}

.option p{
	font-size: 1rem;
}

#archives{
	display:flex;
	flex-wrap:wrap;
	flex-display:box;
}

.arti-with-pic{
	width: 100%;
	display:flex;
	flex-wrap:wrap;
}

.arti-with-pic .img{
	max-width:100%;
	height:auto;
}

.title{
	color:rgb(96,190,174);
	font-size:1.8rem;
}

time{
	color:#AAA;
}

@media screen and (max-width: 480px){
	#wrapper{
		width:350px;
		margin-top: 10px;
	}

	#nav-info{
		width:100%;
	}

	.icon{
		width:60px;
		align-items: center;
		order:2;
	}

	#nav-info li{
		width:100%;
		font-size:1.4rem;
		padding:10px;
		margin:10px;
		order:1;
	}

	aside{
		display:none;
	}

	.pic{
		max-height:248px;
		width:auto;
		position:relative;
		display: block;
	}

	#discussImg{
		width:100%;
		height:auto;
	}

	.title-box{
		font-size:1rem;
		line-height: 1rem;
		text-align: left;
		width:100%;
	}

	#nd-nav{
		display:none;
	}

	#archives{
		width:100%;
	}

	.arti-with-pic{
		width:100%;
		padding:20px;
	}
}

@media screen and (min-width: 481px){
	#wrapper{
		width:480px;
		margin-top: 20px;
	}

	.icon{
		order:1;
		height:60px;
	}

	li{
		order:2;
		font-size:1.7rem;
		padding:20px;
	}

	aside{
		display:none;
	}

	.pic{
		max-height:248px;
		width:auto;
		position:relative;
		display: block;
	}

	#discussImg{
		width:100%;
		height:auto;
	}

	.title-box{
		font-size:1rem;
		line-height: 1rem;
		text-align: left;
		width:100%;
	}

	.arti-with-pic{
		width:50%;
	}
}

@media screen and (min-width: 769px){
/*	.arti-with-pic{
		width:25%;
	}*/
}

@media screen and (min-width: 991px){
/*	.arti-with-pic{
		width:25%;
	}*/
}